# entornos
venv/
.env

# credenciales de firebase
firebase_credentials.json

# __pycache__
__pycache__/
*.pyc
*.pyo
*.pyd

# cosas de VSCode
.vscode/

# build de pyinstaller (si lo usas)
dist/
build/
*.spec
